@font-face {
  font-family: 'Felt Tip Woman';
  src: url("../fonts/Felt Tip Woman.woff") fromat("woff"); }

@font-face {
  font-family: 'Nexa Bold';
  src: url("../fonts/Nexa Bold.woff") fromat("woff"); }

@font-face {
  font-family: 'Nexa Light';
  src: url("../fonts/Nexa Light.woff") fromat("woff"); }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  overflow-x: hidden; }

section {
  height: 100vh;
  width: 100vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.nav {
  min-height: 75px;
  margin: 0 70px;
  border-bottom: 1px solid #f1f1f1;
  color: #f1f1f1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .nav--grey {
    border-color: #bebebe;
    color: #bebebe; }
  .nav a:last-of-type {
    color: #ff0000; }

.nav__item {
  margin: 0px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-family: "Nexa Light", "Open Sans", sans-serif;
  color: inherit; }

.content {
  -ms-flex-positive: 8;
      flex-grow: 8;
  margin: 0; }

.jump-block {
  -ms-flex-positive: 1;
      flex-grow: 1;
  color: #f1f1f1;
  font-size: 16px;
  font-family: "Nexa Bold", "Open Sans", sans-serif;
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center; }
  .jump-block--grey {
    border-color: #bebebe;
    color: #bebebe; }

.chevron-down {
  fill: #f1f1f1;
  height: 30px;
  margin-bottom: 20px; }
  .chevron-down--grey {
    fill: #bebebe; }

[id="home"] {
  background-image: url("../img/main_logo.jpg");
  background-size: contain;
  background-position: center center; }

.content--home {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-align: end;
      align-items: flex-end;
  padding-right: 10vw; }
  .content--home h1 {
    font-size: 2.5em;
    font-family: "Nexa Light", "Open Sans", sans-serif;
    font-weight: 100;
    color: #f1f1f1;
    margin: 55px;
    max-width: 40vh; }

.home-logo {
  padding-top: 14vh;
  margin-bottom: 0;
  height: 54vh;
  width: auto; }
  .home-logo img {
    max-height: 100%;
    max-width: 100%; }

.content--about {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px; }

.about-me__photo {
  width: 50%;
  background-image: url("../img/tshirt1.png");
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat; }

.about-me__text {
  margin-left: 30px;
  margin-right: 50px;
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #202020;
  line-height: 200%; }
  .about-me__text h2 {
    font-size: 3.5em;
    font-family: "Nexa Light", "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: lighter; }
  .about-me__text p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.25em; }

.about-me__sign {
  font-size: 2.25em;
  font-family: "Felt Tip Woman"; }

#about-me .chevron-down {
  fill: #bebebe; }

[id='portfolio'] {
  background-image: url("../img/text.jpg");
  background-size: contain;
  background-position: center center; }
  [id='portfolio'] .jump-block p {
    color: #bebebe; }
  [id='portfolio'] .jump-block .chevron-down {
    fill: #bebebe; }

.portfolio-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative; }

.portfolio-conten__text {
  font-size: 3em;
  font-family: "Nexa Light", "Open Sans", sans-serif;
  font-weight: lighter;
  color: #f1f1f1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em; }

.portfolio-content__photo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0; }

.photos {
  max-height: 20vw;
  max-width: 30.5vw; }

.photos:nth-child(3n+1) {
  margin: 2vh 2vw; }

.photos:nth-child(3n+2) {
  margin: 2vh 0; }

.photos:nth-child(3n+3) {
  margin: 2vh 2vw; }

#zoomer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 90vw;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #000;
  display: none; }
  #zoomer .cross {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 30px;
    height: 30px;
    background-image: url("../img/close.png");
    background-position: center center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100%;
    border: 1px solid #000; }

.content-contact {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  color: #202020; }
  .content-contact p {
    font-family: "Nexa Bold", "Open Sans", sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    margin: 20px; }
  .content-contact p:nth-of-type(1) {
    font-family: "Nexa Light", "Open Sans", sans-serif;
    font-size: 4em;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit; }
  .content-contact .google-form {
    background-color: #ff0000;
    border: 0;
    padding: 20px;
    color: white;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    padding: 10px 50px;
    font-family: "Nexa Light", "Open Sans", sans-serif; }

.contact--social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.social-media-icon {
  fill: #202020;
  padding: 5px;
  width: 50px;
  height: 50px;
  margin: 0 20px;
  border: 2px solid #202020;
  border-radius: 25px; }

.footer {
  color: #bebebe;
  font-size: 16px;
  font-family: "Nexa Light", "Open Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #bebebe;
  margin: 0 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .footer p {
    vertical-align: bottom;
    margin: 40px; }
  .footer img {
    height: 56px; }

/*# sourceMappingURL=main.css.map */
