
[id="task-list"] {
	padding-top: 50px; 
}

[id="task-text"], {
	width: 50%;
    padding: 12px 20px;
    margin: 8px 20px;
    display: inline-block;
    background: rgba(0,0,0,0);
    box-sizing: border-box;
	border: none;
    border-bottom: 2px solid red;

    &:focus {
    	outline: none;
    }
}


[id="add-task"], [id="sort-task"]  {
	background-color: rgba(0,0,0,0);
    border: 1px solid #808080;    
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;

    &:active {
 	background-color: #3e8e41;
	box-shadow: 0 2px #666;
 	transform: translateY(2px);
};


    &:hover {
    	transition: all 0.3s;
    	color: white;
    	background-color: #808080;
    }

    &:focus {
    	outline: none;
    }
}

.task__element {
	display: flex;
	justify-content: space-around;
}

.task__id {
	width: 7%;
	margin: 50px;
	border-radius: 5px;
	font-size: 24px;
}

.task__name {
	width: 83%;
	margin: 50px 0;
	padding: 0 50px;
	border-left: 2px solid #808080;
	border-right: 2px solid #808080;
	font-family: 'Open Sans', sans-serif;

}

.task__remove {
	background: rgba(0,0,0,0);
	position: relative;
	width: 10%;
	border-radius: 100px;
	border: none;
	margin: 50px;


 &:after {
  background: rgba(0,0,0,1);
  content: "";
  height: 4px;
  left: 20px;
  position: absolute;
  top: 50%;
  width: 100px;
  transform: rotate(45deg);
  border: 1px solid #000;
}

&:before {
  background: rgba(0,0,0,1);
  content: "";
  height: 4px;
  left: 20px;
  position: absolute;
  top: 50%;
  width: 100px;
  transform: rotate(-45deg);
  border: 1px solid #000;
}

&:focus {
    	outline: none;
    }
}

.task__id, .task__name, .task__remove {
	display: flex;
	height: 150px;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}

.task__element  .task__remove:hover {
	position: relative;
&:after {
  background: rgba(255,0,0,1);
  content: "";
  height: 4px;
  left: 20px;
  position: absolute;
  top: 50%;
  width: 100px;
  transition: all 0.3s; 
  transform: rotate(45deg);
  border-color: rgba(255,0,0,1);

};
&:before {
  background: rgba(255,0,0,1);
  content: "";
  height: 4px;
  left: 20px;
  position: absolute;
  top: 50%;
  width: 100px;
  transition: all 0.3s;
  transform: rotate(-45deg);
  border-color: rgba(255,0,0,1);
 
}

}