.content--about {
	display: flex;
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 80px;
}


.about-me__photo {
	width: 50%;

	img {
		max-height: 100%;
		max-width: 100%;
		float: right;
	}
}

.about-me__text {
	margin-left: 30px;
	width: 50%;
	align-self: center;
	color: $third-font-color;
	line-height: 200%;

	h2 {
	font-size: 3.5em;
	font-family: $font-nexa-l;
	text-transform: uppercase;
	font-weight: lighter;
	}

	p{
		font-family: $font-open-sans;
		font-size: 1.25em;
	}
}

.about-me__sign {
	font-size: 2.25em;
	font-family: $font-felt;
}