@font-face{
	font-family: 'Felt Tip Woman';
	src: url('../fonts/Felt Tip Woman.woff') fromat('woff');
 }	

@font-face{
	font-family: 'Nexa Bold';
	src: url('../fonts/Nexa Bold.woff') fromat('woff');
 }

@font-face{
	font-family: 'Nexa Light';
	src: url('../fonts/Nexa Light.woff') fromat('woff');
 }