[id='portfolio'] {
	@include background-img($portfolio-bg);
}
.portfolio-conten__text {
	font-size: 3em;
	font-family: $font-nexa-l;
	font-weight: lighter;
	color: $main-font-color;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}
.portfolio-content__photo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 100px;
}
.photos {
	max-height: 16vw;
	max-width: 16vw;
	margin: 0;
	padding: 25px;
}