@font-face {
	font-family: 'BebasNeue';
	src: url("../fonts/Bebas/BebasNeue Regular.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Evogria';
	src: url("../fonts/Evogria/Evogria.otf");
	font-weight: normal;
	font-style: normal;
}