

.desktop-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 6.1%;
  height: 85px;
  padding: 0 0 10px;
  @media (max-width: 770px) and (-webkit-min-device-pixel-ratio: 2) {
    display: none;
  }

  .menu_left_button {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    color: #023c5a;
    margin-right: 16%;

    @media (max-width: 920px) {
      margin-right: 0px;
      flex-grow: 1;
    }

    .menu_icon {
      font-size: 35px;
    }

    .menu_left_button-text {
      font-family: FuturaPTHeavy;
      font-size: 27px;
      text-transform: uppercase;
      margin-left: 15px;
      letter-spacing: -0.7px;
    }
  }

  .menu_logo {
    flex-grow: 1;
    background-image: url('img/menu_logo-min.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 60px;
    margin-top: 8px;
    width: 180px;
  }

  .menu_right_button {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .menu_right_button-phone {
      i {
        font-size: 27px;
        color: #1d3049;
        margin-right: 10px;
      }
      text-decoration: none;
      font-family: FuturaPTHeavy;
      font-size: 27px;
      text-transform: uppercase;
      color: #023c5a;
      letter-spacing: -0.9px;
    }

    .menu_right_button-login {
      font-family: FuturaPTHeavy;
      font-size: 27px;
      text-transform: uppercase;
      color: #023c5a;
      position: relative;
      margin: 0 10px;
      padding-left: 13px;
      letter-spacing: -0.9px;

      &:before {
        content: '';
        height: 30px;
        width: 3px;
        position: absolute;
        background-color: #023c5a;
        transform: translateY(-50%);
        left: 0;
        top: 50%;
      }
    }

    .menu_right_button-box {
      background-image: url('img/menu_box-min.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top center;
      height: 34px;
      width: 30px;
      position: relative;

      &:before {
        content: '0';
        display: block;
        width: 16px;
        height: 16px;
        font-size: 11px;
        line-height: 16px;
        text-align: center;
        padding-right: 0px;
        background-color: #d5ba70;
        border-radius: 100%;
        color: #fff;
        bottom: 30%;
        left: 7px;
        position: relative;
      }
    }
  }
}

.mobile-menu {
  height: 45px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100vw;

  @media (min-width: 771px) {
    display: none;
  }

  .menu-spaceholder {
    height: 100%;
    flex-grow: 1;
  }

  .menu_logo {
    background-image: url('img/menu_logo-min.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 90%;
    width: 70px;
  }

  .menu_right_button-box {
    background-image: url('img/menu_box-min.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 5px;
    height: 30px;
    width: 30px;
    position: relative;

    &:before {
      content: '0';
      display: block;
      width: 16px;
      height: 16px;
      font-size: 11px;
      line-height: 16px;
      text-align: center;
      padding-right: 0px;
      background-color: #d5ba70;
      border-radius: 100%;
      color: #fff;
      bottom: 30%;
      left: 7px;
      position: relative;
    }
  }

  .menu_icon {
    margin-left: 15px;
    font-size: 24px;
    margin-right: 15px;
  }

  .menu_phone {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
    background-color: #ff8106;
    a {
      text-decoration: none;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
}