$jumbotron-top--bg: '../img/jumbotron-top.jpg';
$jumbotron-bottom--bg: '../img/jumbotron-bottom.jpg';
$fitness-green-color: #a2ca28;
$fitness-red-color:  #fd634e;
$fitness-white-color:  #fff;
$fitness-black-color: #0d1119;
$fitness-grey-color: #e3e9ea;