@media only screen and (max-width : 1024px) {
	.btn {
	padding: 25px 20px;
} 


.main-container {
	width: 80%; 
	margin: 135px auto 100px;
	padding: 25px 11px 25px 32px;  

}

.admin-control{
	padding-right: 30px;
}

.admin-control-text{
	font-size: 12px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	padding: 10px;
	margin: 20px auto;

} 

.admin-control_btn {
	font-size: 18px;	
}

.admin_popup {  
	padding: 22px 16px 120px;  
 
	&:after {
		top: 28px;
		left: 18px;
		right: 18px; 
		bottom: 70px;
		border: 2px dashed $popup-color_header;
			}
}

.popup_header{
	font-size: 15px;
	margin-top: 15px;

}

.popup_content{
	font-size: 13px;
	margin: 14px 6px 30px 7px; 
}

.container_rating {
	height: 65px;
	padding-top: 20px; 
	margin-left: 23px;
	border-bottom: 6px solid transparent;

	div {
		height: 31px;
		width: 31px; 
	}

} 


.circle {
	border-radius: 63px;
}

.icon-rating-like,
.icon-rating-success,
.icon-rating-minus {
	&:after {
		width: 11px;
		border: 3px solid $admin-btn-color_bd;
		box-shadow: 0px 0px 0px 2px rgb(255,255,255); 
		top: -16px;   
	}

}

.icon-rating-like {

	&:after {
		height: 100px;
	}

} 

.icon-rating-success {
	&:after {
		height: 53px;
	}

		&:before {
		width: 6px;
		height: 12px;
		border-bottom: 2px solid $container-color_bg;
		border-right: 2px solid $container-color_bg;
	}
}

.icon-rating-minus {
 
	&:after {
		height: 77px;
	}

	&:before {

		height: 2px;
		width: 17px; 
	}


}

.container-card {
	margin-top: 40px; 
}

.card_barcode{
	width: 123px;
	height: 76px; 
}

.card_qrcode{
	width: 110px;
	height: 110px;  
}

.container-card_text{
	font-size: 15px;
	border-bottom: 10px solid transparent; 
	padding-bottom: 22px;
}
}

@media only screen and (max-width : 640px) {
	.btn {
	padding: 24px 21px;
	border: 3px solid $admin-btn-color_bd;
} 

 
.main-container {
	margin: 68px auto 100px;
	padding: 8px 7px 45px 6px;  
}

 
.admin-control-text{
	font-size: 20px;
	border-top: 6px solid transparent; 
	border-bottom: 6px solid transparent;
	padding: 17px 6px;
	margin-top: 20px;
	margin-left: 8px;

} 

.admin-control_btn { 
	font-size: 13px;	
}

.admin_popup { 
	padding: 22px 10px 50px;  

	&:after { 
		top: 15px;
		left: 10px;
		right: 11px; 
		bottom: 77px;
		border: 1px dashed $popup-color_header;
			}
}

.popup_header{
	font-size: 6px;
	margin-top: 9px;
 
}

.popup_content{
	font-size: 12px;
	margin: 14px 6px 30px 7px; 
}

.container_rating { 
	padding-top: 26px; 
	margin-left: 10px;
	border-bottom: 6px solid transparent;

	div {
		height: 25px;
		width: 25px; 
	}

} 


.circle {
	border-radius: 63px;
}

.icon-rating-like,
.icon-rating-success,
.icon-rating-minus {
	&:after {
		width: 11px;
		border: 2px solid $admin-btn-color_bd;
		box-shadow: 0px 0px 0px 1px rgb(255,255,255); 
		top: -6px;   
	}

}

.icon-rating-like {

	&:after {
		height: 89px;
	}

} 

.icon-rating-success {
	&:after {
		height: 39px;
	}

		&:before {
		width: 5px;
		height: 10px;
		border-bottom: 2px solid $container-color_bg;
		border-right: 2px solid $container-color_bg;
	}
}

.icon-rating-minus {
 
	&:after {
		height: 70px;
	}

	&:before {

		height: 1px;
		width: 13px; 
	}
}

.container-card {
	margin-top: 30px; 
}

.container-card_text{
	font-size: 8px;
	border-bottom: 7px solid transparent;
	padding-bottom: 30px;
}
}