$container-color_bg: #fff;
$container-color_bd: #6d7197;
$admin-btn-color_bg: #5aabfe;
$admin-btn-color_bd: #6d7197;
$admin-control-color_text: #6d7197;
$popup-color_header: #ff0000;
$popup-color_text: #000;
$rating-color-like_bg: #f65a48;
$rating-color-success_bg: #00b087;
$rating-color-minus_bg: #ff8b00; 
$admin-control-image_bd: '../img/wave-text-bd.png';
$ratung-like_image: '../img/like-rate.png'; 
$popup-image_bg: '../img/popup-img.png';
$body-image_bg: '../img/stripedShevrons.jpg';
