
$icon-arrow-right: "\EA01" !default;

$icon-avocado: "\EA02" !default;

$icon-chat: "\EA03" !default;

$icon-cloud: "\EA04" !default;

$icon-dashboard: "\EA05" !default;

$icon-drop: "\EA06" !default;

$icon-facebook: "\EA07" !default;

$icon-linkedin: "\EA08" !default;

$icon-man: "\EA09" !default;

$icon-price-tag: "\EA0A" !default;

$icon-strawbeary: "\EA0B" !default;

$icon-suitcase: "\EA0C" !default;

$icon-twitter: "\EA0D" !default;

$icon-youtube: "\EA0E" !default;