<!DOCTYPE HTML>
<html ng-app="listApp"
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <style>
        .sortorder:after {
            content: '\25b2';   // BLACK UP-POINTING TRIANGLE
        }
        .sortorder.reverse:after {
            content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
        }
    </style>
</head>

<body>

    <div   class="page-header" >
        <h1> Products list</h1>
        
    </div>
    <div class="panel"  ng-controller="ListController as listCtrl">
        <div class="form-inline">
                <div class="" ng-hide="maxPageCounter == undefined">
                    <input class="form-control" ng-model="searchText" placeholder = "search text" />
                    Search field
                </div>
                <div ng-show="maxPageCounter == undefined">
                <h2>Chose item list</h2>
                <button ng-click="goForData('json/large.json')" class="btn btn-def">large</button>
                <button ng-click="goForData('json/small.json')" class="btn btn-def">small</button>
                <button ng-click="goForData('json/custom.json')" class="btn btn-def">custom</button>
                </div>

        </div>

        <table class="table table-striped" ng-hide="maxPageCounter == undefined">
            <thead>
                <tr>
                    <th >
                    <button ng-click="sortBy(0)" class="btn btn-def">{{listCtrl.header.id}}</button>
                    <span class="sortorder " ng-show="propertyID == 0" ng-class="{reverse: reverse}">
                    </th>
                    <th >
                    <button ng-click="sortBy(1)" class="btn btn-def">{{listCtrl.header.name}}</button>
                    <span class="sortorder " ng-show="propertyID == 1" ng-class="{reverse: reverse}">
                    </th>
                    <th >
                    <button ng-click="sortBy(2)" class="btn btn-def">{{listCtrl.header.price}}</button>
                    <span class="sortorder " ng-show="propertyID == 2" ng-class="{reverse: reverse}">
                    </th>
                    <th >
                    <button ng-click="sortBy('3')" class="btn btn-def">{{listCtrl.header.quantity}}</button>
                    <span  class="sortorder " ng-show="propertyID == 3" ng-class="{reverse: reverse}">
                    </th>
                </tr>
            </thead>
            <tfoot ng-hide="maxPageCounter <= 1">
            <tr> 
            <td><button class="btn btn-def" ng-click="pageCounter = pageCounter - 1" ng-hide="pageCounter === 1" ng-init="pageCounter=1">Prev</button></td>
            <td>{{pageCounter}} </td>
            <td ><button class="btn btn-def" ng-click="pageCounter = pageCounter + 1" ng-hide="pageCounter === maxPageCounter">Next</button></td>
            </tr>
            </tfoot>
            <tbody>
                <tr ng-repeat="product in listCtrl.product| limitTo: 50 : (50*(pageCounter-1)) | filter:searchText | orderBy : [propertyID] : reverse" >
                    <td>{{product[0]}}</td>
                    <td>{{product[1]}}</td>
                    <td>{{product[2] | currency:$:0}} </td>
                    <td>{{product[3] }}</td>
                </tr>
            </tbody>
        </table>

    </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script> 

(function() {
var listApp = angular.module("listApp",[]);
    listApp.controller("ListController", ['$http','$scope', function($http, $scope){
        var list = this;
        list.product = [];
        list.header = [];
        $scope.Math = window.Math;

        $scope.sortBy = function (propertyID) {
            $scope.reverse = ($scope.propertyID == propertyID) ? !$scope.reverse : false;
            $scope.propertyID = propertyID;
        };
       
        $scope.goForData = function (dataUrl) {
            $http.get(dataUrl).success(function(data){
                list.header = data.shift();
                list.product = data;
                $scope.maxPageCounter = Math.ceil(list.product.length / 50);
                });
                };

        $scope.createNewTable = function() {
            $scope.getElementById.insertAdjacentHTML('afterend', '<div id="two">two</div>');
        };
    }]);



})();
</script>
</body>
</html>