<!DOCTYPE html>
<html lang="en" ng-app="titanium">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="src/css/main.css" rel="stylesheet">
</head>
<body ng-controller='myCtrl'>
<div class="welcome-block">
    <p>Trying to be The World's finest Domain-Hacking Tool</p>
    <input type="text" placeholder="Input domain name" ng-model="inputValue" ng-model-options="{ debounce: 500 }" ng-change="checkInput(inputValue)">
</div>
<div class="result-block">
    <div class="result-item result-desc">
        <p>#</p>
        <div class="url-path">
            <p class>Domain </p>
        </div>
        <p>Description</p>
    </div>
    <div class="result-item"  ng-repeat="items in domain_variations track by $index">
        <p class="number-text">{{$index + 1}}</p>
        <div class="url-path">
            <p class="host-text">{{items.host}}</p>
            <p class="dom-text">.{{items.dom}}</p>
            <p class="path-text">/{{items.path}}</p>
        </div>
        <p class="desc-text">{{items.desc}}</p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script type="text/javascript" src="src/js/main.js"></script>
</body>
</html>